{
    "plugins": ["react"],
    "parserOptions": {
        "sourceType": "module",
        "extends": ["prettier"],
        "ecmaVersion": 2018,
        "ecmaFeatures": {
            "jsx": true
        }
    }
}
